<ng-container *ngIf="listing">
  <a class="item-card-link" (click)="navigateToDetail()">
    <div class="item-card">
      <ng-container *ngIf="listing.is_premium">
        <div class="premium-tag">Premium</div>
      </ng-container>
      <img
        [src]="listing.main_image"
        alt="Equipment"
        class="item-image"
      />
      <div class="item-details">
        <div class="item-header">
          <h3 class="item-title">{{ listing.title }}</h3>
        </div>
        <div class="item-price">{{ listing.price_per_day }} Dh/ day</div>
        <div class="item-info-line">
          <div class="item-partner-container">
            <img
              [src]="listing.partner?.avatar_url"
              alt="{{ listing.partner?.username }}"
              class="partner-avatar"
              (error)="getDefaultAvatar($event, listing.partner?.username)"
            />
            <span class="item-partner">
              {{ listing.partner?.username }}
            </span>
            <div class="partner-rating" *ngIf="listing.partner">
              <i class="fas fa-star star"></i>
              <span>{{ listing.partner.partner_rating }}</span>
            </div>
          </div>
          <div class="item-location" *ngIf="listing.partner">
            {{ listing.partner.city?.name }}
          </div>
        </div>
      </div>
    </div>
  </a>
</ng-container>
