<div class="header-logo">TechBridge</div>
<nav class="header-nav">
    
    <ng-container *ngIf="navState$ | async as nav">
        <!-- Not authenticated -->
        <ng-container *ngIf="!nav.isAuthenticated">
            <a routerLink="/listings" class="header-nav-item">Browse Listings</a>
            <a routerLink="/auth/sign-up" class="header-nav-item">Sign Up</a>
            <a routerLink="/auth/sign-in" class="header-nav-item">Sign In</a>
        </ng-container>
        
       
        
        <!-- Client-only links -->
        <ng-container *ngIf="nav.isAuthenticated && !nav.showPartnerNav">
            <a routerLink="/listings" class="header-nav-item">Browse Listings</a>
            <a routerLink="/my-rentals" class="header-nav-item">My Rentals</a>
        </ng-container>
        
        <!-- Partner links -->
        <ng-container *ngIf="nav.isAuthenticated && nav.showPartnerNav">
            <a routerLink="/partner-dashboard" class="header-nav-item">Partner Dashboard</a>
            <a routerLink="/partner-bookings" class="header-nav-item">Partner Bookings</a>
            <a routerLink="/add-listing" class="header-nav-item">Add Listing</a>
        </ng-container>

         <!-- Authenticated - common links -->
         <ng-container *ngIf="nav.isAuthenticated">
            <a routerLink="/profile" class="header-nav-item">Profile</a>
        </ng-container>
    </ng-container>
</nav>