.category-item {
  flex: 0 0 auto;
  padding: 0.4rem 1rem;
  background-color: var(--color-bg-light);
  border-radius: 2rem;
  cursor: pointer;
  white-space: nowrap;
  border: 2px solid transparent;
  color: var(--color-text-light);
}
.category-item:hover {
  border-color: var(--color-primary);
}
.category-item.active {
  background-color: var(--color-primary);
  color: var(--color-bg-dark);
  font-weight: var(--font-semibold);
  border-color: var(--color-primary-dark);
  box-shadow: none;
}
