<ng-container *ngIf="rental">
    <a class="item-card-link" (click)="navigateToDetail()">
        <div class="item-card">
            <ng-container *ngIf="rental.isPremium">
                <div class="premium-tag">Premium</div>
            </ng-container>
            <img
                [src]="rental.mainImage"
                alt="Equipment"
                class="item-image" />
            <div class="item-details">
                <div class="item-header">
                    <h3 class="item-title">{{this.rental.name}}</h3>
                    <div class="item-price">$ {{this.rental.price}} / day</div>
                </div>
                <div class="item-info-line">
                    <div class="item-partner-container">
                        <span class="item-partner">AudioPro</span>
                        <div class="partner-rating">
                            <i class="fas fa-star star"></i>
                            <span>4.5</span>
                        </div>
                    </div>
                    <div class="item-location">{{this.rental.location}}</div>
                </div>
            </div>
        </div>
    </a>
</ng-container>