<div class="filter-section">
    <h3 class="filter-title">Location</h3>
    <select class="location-filter" [(ngModel)]="selectedCityId" (ngModelChange)="onModelChange()">
        <option [ngValue]="null">All locations</option>
        <ng-container *ngIf="cities$ | async as cities">
            <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
        </ng-container>
    </select>
</div>

<div class="filter-section">
    <h3 class="filter-title">Rental Rate (/day)</h3>
    <div class="price-inputs">
        <input type="number" placeholder="Min $" class="price-input" [(ngModel)]="minPrice" (ngModelChange)="onModelChange()" />
        <span>-</span>
        <input type="number" placeholder="Max $" class="price-input" [(ngModel)]="maxPrice" (ngModelChange)="onModelChange()" />
    </div>
</div>

<div class="filter-section">
    <h3 class="filter-title">Minimum Partner Rating</h3>
    <div class="rating-filter">
        <label *ngFor="let option of partnerRatingOptions">
            <input type="radio" name="partner_rating" [value]="option.value" [(ngModel)]="selectedPartnerRating" (ngModelChange)="onModelChange()" /> {{ option.label }}
        </label>
    </div>
</div>

<div class="filter-section">
    <h3 class="filter-title">Minimum Equipment Rating</h3>
    <div class="rating-filter">
         <label *ngFor="let option of equipmentRatingOptions">
            <input type="radio" name="equipment_rating" [value]="option.value" [(ngModel)]="selectedEquipmentRating" (ngModelChange)="onModelChange()" /> {{ option.label }}
        </label>
    </div>
</div>

<button class="filter-button" (click)="clearFilters()">Clear All</button>